h2{
    text-align:center;
}

table {
    table-layout: fixed;
    width: 100%;
    overflow-wrap:  break-word;
    
    /* border-color: black; */
    align:center;
    border:1px solid black;
}


th{
    border:1px solid black;
}

tr:first-child{
    background-color: navajowhite;
}

th:first-child {
    width: 10%;
}

th:nth-child(2) {
    width: 30%;
}
